{{template "header"}}
        <div class="container">
        	<div class="page-header">
                <center><h1><strong>FORMULARIO DE REGISTRO</strong></h1></center>
            </div>
            <form class="form-horizontal">
                <!-- Username and mail-->
                <div class="form-group">
                    <label class="control-label col-xs-3">Nombre de usuario:</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" placeholder="Nombre de usuario">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Email:</label>
                    <div class="col-xs-9">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <hr class="container">
                <!-- Fin username and mail -->
                <!-- Contraseña y confirmación-->
                <div class="form-group">
                    <label class="control-label col-xs-3">Password:</label>
                    <div class="col-xs-9">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Confirmar Password:</label>
                    <div class="col-xs-9">
                        <input type="password" class="form-control" placeholder="Confirmar Password">
                    </div>
                </div>
                <small><i>La contraseña debe contener almenos una mayuscula y un numero.</i></small>
                <hr class="container">
                <!-- Fin contraseña y confirmación -->
                <!-- Primer nombre -->
                <div class="form-group">
                    <label class="control-label col-xs-3">Primer nombre:</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" placeholder="Nombre">
                    </div>
                </div>
                <!-- Segundo nombre -->
                <div class="form-group">
                    <label class="control-label col-xs-3">Segundo nombre:</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" placeholder="Nombre">
                    </div>
                </div>
                <!-- Apellidos -->
                <div class="form-group">
                    <label class="control-label col-xs-3">Apellidos:</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" placeholder="Apellido">
                    </div>
                </div>
                <!-- Fecha de nacimiento -->
                <div class="form-group">
                    <label class="control-label col-xs-3">F. Nacimiento:</label>
                    <div class="col-xs-3">
                        <select class="form-control">
                            <option>Dia</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <select class="form-control">
                            <option>Mes</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <select class="form-control">
                            <option>Año</option>
                        </select>
                    </div>
                </div>
                <!-- Genero -->
                <div class="form-group">
                    <label class="control-label col-xs-3">Genero:</label>
                    <div class="col-xs-2">
                        <label class="radio-inline">
                            <input type="radio" name="genderRadios" value="male"> Maculino
                        </label>
                    </div>
                    <div class="col-xs-2">
                        <label class="radio-inline">
                            <input type="radio" name="genderRadios" value="female"> Femenino
                        </label>
                    </div>
                </div>
                <hr class="container">
                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-9">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="news"> Enviar noticias.
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-9">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="agree">  Accepto <a href="#">Terminos y condiciones</a>.
                        </label>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-9">
                        <input type="submit" class="btn btn-primary" value="Registrarse">
                        <input type="reset" class="btn btn-default" value="Limpiar">
                    </div>
                </div>
            </form>
        </div>
{{template "footer"}}